[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.4"
asgiref = "==3.2.10"
beautifulsoup4 = "==4.9.1"
bs4 = "==0.0.1"
certifi = "==2020.6.20"
chardet = "==3.0.4"
distlib = "==0.3.1"
dj-database-url = "==0.5.0"
django = "==3.1"
django-crispy-forms = "==1.9.2"
django-heroku = "==0.3.1"
filelock = "==3.0.12"
gunicorn = "==20.0.4"
idna = "==2.10"
pillow = "==7.2.0"
pipenv = "==2020.8.13"
psycopg2 = "==2.8.6"
python-decouple = "==3.3"
pytz = "==2020.1"
requests = "==2.24.0"
six = "==1.15.0"
soupsieve = "==2.0.1"
sqlparse = "==0.3.1"
urllib3 = "==1.25.10"
virtualenv = "==20.0.31"
virtualenv-clone = "==0.5.4"
whitenoise = "==5.2.0"

[requires]
python_version = "3.8"
