{% extends 'content/main.html' %}
{% load crispy_forms_tags %}
{% block registration %}
  <div class="container">
    <div class="row">
      <div class="col-12 p-5">
        <div class="form-section">
          <h2>Заявление</h2>
          <form  method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" name="button" class="btn btn-outline-danger">Отправить</button>
          </form>
        </div>
        <hr>
      </div>
    </div>
  </div>
{% endblock %}
